body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* Color de fondo suave */
    color: #333; /* Color de texto principal */
    line-height: 1.6;
}

.container {
    width: 90%; /* Increased width for more space */
    max-width: 1200px; /* Maximum width to ensure it doesn't get too wide */
    margin: auto;
    overflow: hidden;
}

header {
    background: #2c3e50; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
    border-bottom: #3498db 3px solid; /* Azul claro */
}

header h1 {
    font-size: 2rem; /* Reduced font size for the title */
    text-align: center;
    margin-bottom: 20px;
    word-wrap: break-word; /* Allow long words to break */
    overflow-wrap: break-word; /* Support for other browsers */
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #3498db; /* Azul claro al pasar el mouse */
}

main {
    padding: 40px 0;
    background: #fff; /* Fondo blanco para el contenido principal */
}

h2 {
    color: #2c3e50; /* Azul oscuro para subtítulos */
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.team-members {
    display: flex; /* Utilizar flexbox para alinear elementos en una fila */
    justify-content: center; /* Centrar horizontalmente los elementos */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si el espacio es insuficiente */
}

.team-member {
    width: calc(50% - 20px); /* Calcular el ancho para dos columnas con margen */
    margin: 0 10px 10px; /* Añadir margen entre los miembros y al final */
    text-align: center; /* Centrar el contenido del equipo */
    box-sizing: border-box; /* Incluir el padding y border en el ancho total */
}

.team-member img {
    width: 150px; /* Tamaño de imagen */
    height: 150px;
    border-radius: 50%; /* Bordes redondeados para la imagen circular */
    margin-bottom: 0px; /* Espacio inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

footer {
    background: #2c3e50; /* Azul oscuro para el pie de página */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1.1rem;
}

footer a {
    color: #3498db; /* Azul claro para enlaces de pie de página */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contact-list {
    padding: 0;
    list-style: none;
}

.contact-list li {
    text-align: center; /* Alinear el texto a la izquierda */
    margin-bottom: 10px;
    position: relative;
}

.contact-list li:before {
    content: "\2022"; /* Código Unicode para la viñeta (•) */
    position: absolute;
    left: -20px; /* Ajuste horizontal para centrar la viñeta */
    color: #3498db; /* Color de la viñeta */
}

.github-link {
    text-align: center; /* Centrar el texto y el ícono de GitHub */
    margin-top: 20px; /* Espacio superior para separar de los correos */
}

.github-icon {
    width: 16px; /* Tamaño del ícono de GitHub */
    vertical-align: middle; /* Alinear verticalmente con el texto */
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.github-text {
    font-size: 14px; /* Tamaño del texto del enlace de GitHub */
}

#toggle-details {
    display: inline-block;
    background-color: #3498db; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

#toggle-details:hover {
    background-color: #2980b9; /* Color de fondo al pasar el mouse */
}

#toggle-details i {
    margin-left: 5px; /* Espacio entre el texto y el ícono */
    transition: transform 0.3s ease; /* Transición suave de transformación */
}

#about-details {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

#about-details.collapsed {
    max-height: 1000px; /* Valor suficientemente grande para mostrar todo el contenido */
}

#toggle-details2 {
    display: inline-block;
    background-color: #3498db; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

#toggle-details2:hover {
    background-color: #2980b9; /* Color de fondo al pasar el mouse */
}

#toggle-details2 i {
    margin-left: 5px; /* Espacio entre el texto y el ícono */
    transition: transform 0.3s ease; /* Transición suave de transformación */
}

#about-details2 {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

#about-details2.collapsed {
    max-height: 1000px; /* Valor suficientemente grande para mostrar todo el contenido */
}

.result-image {
    text-align: center; /* Centra el contenido dentro del div */
}

.result-image img.centered-image {
    max-width: 100%; /* Reduzca el tamaño de la imagen al 80% del contenedor */
    display: block; /* Asegura que la imagen esté centrada correctamente */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

.image-caption {
    font-style: italic;
    color: #666;
}
